html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #ddd;
	margin: 0;
}

main {
	background-color: #eee;
	margin: 2.5vh auto;
	width: 90vw;
	height: 95vh;
	max-height: 570px;
	max-width: 385px;
	border-radius: 1.4rem;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.display {
	position: relative;
	margin-bottom: 50px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;
	letter-spacing: 1.2rem;
	text-indent: 1.2rem;
	color: #45caff;
	margin-top: 3.5rem;
}

/* neat trick using translate to center element when position relative & absolute combo is required */
/* https://youtu.be/rzD-cPhq02E?t=460 */
input {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	border-radius: 1rem;
	text-align: center;
	font-size: 4rem;
	color: #45caff;
	background-color: transparent;
	cursor: text;
	border: none;
}

input:focus,
input:hover {
	outline: 0;
	box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.8), inset 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.controls {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 50px;
}

button {
	outline: none;
	background-color: #eee;
	border: 0.4rem solid #f1f1f1;
	border-radius: 50%;
	color: #45caff;
	font-size: 3rem;
	height: 5rem;
	width: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

button:hover {
	color: #ff1b6b;
	cursor: pointer;
}

.reset-btn {
	margin-left: 5rem;
}

span {
	font-size: 2rem;
}

.transparent {
	color: transparent;
}

.fa-disabled {
	opacity: 0.3;
	filter: grayscale(1);
	cursor: not-allowed;
	pointer-events: none;
}

/* Ripple effect */
.ripple {
	background-position: center;
	transition: background 0.3s;
}
.ripple:hover {
	background: #eee radial-gradient(circle, transparent 1%, rgba(131, 80, 98, 0.03) 1%) center/15000%;
}
.ripple:active {
	background-size: 100%;
	transition: background 0s;
}

/* Remove arrows from number input Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Remove arrows from number input Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

@media screen and (min-width: 769px) {
}

@media screen and (max-height: 567px) {
	.display {
		margin-bottom: 0;
	}
}
